# 1) Read the data set

In [1]:
import pandas as pd
import numpy as np
import math
import os

In [263]:
laliga = pd.read_csv('Laliga.csv', header = 1)

In [264]:
laliga.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1

# replace dashes with 0 to make sure you can perform arithmetic operations on the data.

In [265]:
laliga.replace('-','0', inplace=True)

In [266]:
laliga.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1

# 2) Teams which have started playing between 1930-1980. (5 points)

In [267]:
laliga['Debut'] = laliga['Debut'].str.extract(r'^(\d{4})')

In [268]:
laliga['Debut'] = laliga['Debut'].astype('int')

In [269]:
laliga[(laliga['Debut'] > 1930) & (laliga['Debut']<1980)]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931,1987-88,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934,2001-02,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948,2013-14,4
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951,2015-16,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959,2014-15,5
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940,2007-08,11
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963,2015-16,6
30,31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,0,1974,1998-99,7
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977,2005-06,12
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941,1990-91,4
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962,2014-15,5
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963,1969-70,7
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947,2006-07,7
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945,1950-51,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953,1957-58,14
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979,1980-81,10
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950,1993-94,16
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955,1955-56,15

# 3) list of teams which came Top 5 in terms of points

In [270]:
laliga['Points'] = laliga['Points'].astype('int')

In [271]:
laliga.nlargest(5, 'Points')

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

# 4) Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. 
Goal_diff_count = GoalsFor - GoalsAgainst

In [272]:
laliga['GoalsFor'] = laliga['GoalsFor'].astype('int')
laliga['GoalsAgainst'] = laliga['GoalsAgainst'].astype('int')

In [273]:
def Goal_diff_count(X):
    return laliga['GoalsFor'] - laliga['GoalsAgainst']

In [274]:
Goal_diff_count(laliga)

0     2807
1     2786
2     1225
3      929
4      931
5      307
6     -280
7       -2
8     -164
9     -333
10    -136
11    -346
12    -413
13    -525
14    -399
15    -334
16    -342
17    -309
18    -189
19    -399
20     103
21    -338
22    -328
23    -272
24    -113
25    -334
26    -125
27    -385
28    -165
29    -202
      ...
31    -228
32    -269
33    -198
34    -169
35     -90
36    -122
37    -145
38     -42
39     -94
40     -94
41     -56
42     -98
43     -28
44     -81
45     -38
46    -114
47     -55
48     -45
49    -107
50     -62
51     -31
52     -45
53     -34
54    -112
55     -19
56     -28
57     -20
58     -34
59     -31
60       0
Length: 61, dtype: int32

# Using the same function, find the team which has maximum and minimum goal difference. (5 points)

In [275]:
Goal_diff_count(laliga).max()

2807

In [276]:
Goal_diff_count(laliga).min()

-525

# 5) Create a new column with name “Winning Percent” and append it to the data set

In [277]:
laliga['GamesWon'] = laliga['GamesWon'].astype('int')
laliga['GamesPlayed'] = laliga['GamesPlayed'].astype('int')

In [278]:
laliga['Winning Percent'] = (laliga['GamesWon'] / laliga['GamesPlayed'])*100

In [279]:
laliga

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931,1987-88,1,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,43.772629
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,4,5,12,6,32,1934,2001-02,1,41.112957
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,0,4,5,2,5,16,1929,1994-95,3,36.100533
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,3,2,5,4,3,19,1929,2010-11,1,37.532580
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,1,4,5,4,4,18,1939,2012-13,2,35.146022
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,0,2,3,4,4,14,1932,2015-16,1,35.069444
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,5,4,1,0,1,12,1941,2014-15,1,36.797386
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,0,2,4,5,11,1939,2012-13,4,34.511190
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,0,1,1,1,3,1948,2013-14,4,31.582538
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,1,2,0,1,5,1929,2011-12,2,31.722689
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,1,2,2,1,7,1944,2015-16,2,32.304527
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,0,2,2,2,6,1935,2016-17,4,32.321700
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,0,1,0,1,2,1949,2008-09,4,31.075697
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,0,3,2,2,4,11,1933,2000-01,3,34.228188
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,0,2,1,5,1960,2012-13,3,33.704453
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,1,5,1951,2015-16,2,33.485401
20,21,Villarreal,17,970,646,266,172,208,892,789,...,1,1,2,3,2,9,1998,2013-14,2,41.176471
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,0,2,2,1941,2016-17,6,29.380054
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,0,1977,2015-16,8,28.987730
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,0,1,1,2,1959,2014-15,5,29.941003
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,0,1,1,2004,2015-16,6,32.236842
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,0,1,4,5,1935,2010-11,5,29.299363
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,0,2,0,2,1961,2009-10,5,31.376518
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,0,1940,2007-08,11,24.744027
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,0,1,1,1930,2016-17,6,32.894737
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,0,1,1,1963,2015-16,6,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,0,1,1,0,2,1943,1987-88,4,30.281690
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,0,1977,2005-06,12,23.214286
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,0,1987,1996-97,7,27.745665
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,0,1,2,0,3,1941,1990-91,4,30.838323
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,0,1991,2004-05,7,28.148148
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,0,2007,2014-15,8,27.192982
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,0,1,0,1,1962,2014-15,5,29.078014
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,0,1994,1997-98,10,32.500000
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,0,1978,2008-09,8,26.881720
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,0,1971,1979-80,12,28.921569
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,0,1963,1969-70,7,29.444444
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,0,1999,2008-09,17,24.342105
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,0,2014,2014-15,10,30.701754
44,45,Arenas,7,107,130,43,21,66,227,308,...,0,1,0,3,0,4,1929,1934-35,3,33.076923
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,0,1990,1992-93,9,22.807018
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,0,1947,2006-07,7,29.310345
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,0,1996,1998-99,17,25.000000
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,0,1995,1997-98,19,23.750000
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,0,1945,1950-51,10,27.777778
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1953,1957-58,14,32.222222
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,0,1,1,1929,1931-32,6,29.166667
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,0,1979,1980-81,10,25.000000
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,0,1929,1930-31,8,33.333333
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,0,1950,1993-94,16,19.117647
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,0,2016,2016-17,17,21.052632
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,0,2009,2009-10,20,21.052632
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956,1956-57,16,23.333333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951,1951-52,16,23.333333
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955,1955-56,15,16.666667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017,2017-18,9,NaN

# If there are any numerical error, replace it with 0%

In [280]:
laliga = laliga.fillna(0)
laliga

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931,1987-88,1,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,43.772629
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,4,5,12,6,32,1934,2001-02,1,41.112957
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,0,4,5,2,5,16,1929,1994-95,3,36.100533
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,3,2,5,4,3,19,1929,2010-11,1,37.532580
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,1,4,5,4,4,18,1939,2012-13,2,35.146022
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,0,2,3,4,4,14,1932,2015-16,1,35.069444
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,5,4,1,0,1,12,1941,2014-15,1,36.797386
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,0,2,4,5,11,1939,2012-13,4,34.511190
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,0,1,1,1,3,1948,2013-14,4,31.582538
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,1,2,0,1,5,1929,2011-12,2,31.722689
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,1,2,2,1,7,1944,2015-16,2,32.304527
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,0,2,2,2,6,1935,2016-17,4,32.321700
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,0,1,0,1,2,1949,2008-09,4,31.075697
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,0,3,2,2,4,11,1933,2000-01,3,34.228188
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,0,2,1,5,1960,2012-13,3,33.704453
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,1,5,1951,2015-16,2,33.485401
20,21,Villarreal,17,970,646,266,172,208,892,789,...,1,1,2,3,2,9,1998,2013-14,2,41.176471
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,0,2,2,1941,2016-17,6,29.380054
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,0,1977,2015-16,8,28.987730
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,0,1,1,2,1959,2014-15,5,29.941003
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,0,1,1,2004,2015-16,6,32.236842
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,0,1,4,5,1935,2010-11,5,29.299363
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,0,2,0,2,1961,2009-10,5,31.376518
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,0,1940,2007-08,11,24.744027
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,0,1,1,1930,2016-17,6,32.894737
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,0,1,1,1963,2015-16,6,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,0,1,1,0,2,1943,1987-88,4,30.281690
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,0,1977,2005-06,12,23.214286
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,0,1987,1996-97,7,27.745665
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,0,1,2,0,3,1941,1990-91,4,30.838323
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,0,1991,2004-05,7,28.148148
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,0,2007,2014-15,8,27.192982
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,0,1,0,1,1962,2014-15,5,29.078014
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,0,1994,1997-98,10,32.500000
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,0,1978,2008-09,8,26.881720
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,0,1971,1979-80,12,28.921569
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,0,1963,1969-70,7,29.444444
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,0,1999,2008-09,17,24.342105
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,0,2014,2014-15,10,30.701754
44,45,Arenas,7,107,130,43,21,66,227,308,...,0,1,0,3,0,4,1929,1934-35,3,33.076923
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,0,1990,1992-93,9,22.807018
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,0,1947,2006-07,7,29.310345
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,0,1996,1998-99,17,25.000000
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,0,1995,1997-98,19,23.750000
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,0,1945,1950-51,10,27.777778
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1953,1957-58,14,32.222222
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,0,1,1,1929,1931-32,6,29.166667
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,0,1979,1980-81,10,25.000000
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,0,1929,1930-31,8,33.333333
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,0,1950,1993-94,16,19.117647
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,0,2016,2016-17,17,21.052632
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,0,2009,2009-10,20,21.052632
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956,1956-57,16,23.333333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951,1951-52,16,23.333333
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955,1955-56,15,16.666667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017,2017-18,9,0.000000

# Print the top 5 teams which has the highest Winning percentage

In [281]:
laliga.nlargest(5, 'Winning Percent')

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931,1987-88,1,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,43.772629

# 6) Group teams based on their “Best position” and print the sum of their points for all positions

In [282]:
laliga.groupby('BestPosition')['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int32

In [283]:
laliga.groupby(['BestPosition','Team'])['Points'].sum()

BestPosition  Team
1             Athletic Bilbao        3368
              Atletico Madrid        3442
              Barcelona              4262
              Deportivo La Coruna    1814
              Real Betis             1884
              Real Madrid            4385
              Real Sociedad          2573
              Sevilla                2819
              Valencia               3386
2             Las Palmas             1020
              Racing Santander       1416
              Sporting Gijon         1389
              Villarreal              970
              Zaragoza               2109
3             Arenas                  107
              Espanyol               2792
              Mallorca               1148
              Oviedo                 1174
4             Castellon               285
              Celta Vigo             1789
              Malaga                 1314
              Osasuna                1351
              Sabadell                353
              Valladolid             1471
5             Cordoba                 230
              Elche                   606
              Hercules                538
              Tenerife                510
6             Alaves                  421
              Getafe                  553
                                     ...
              Levante                 416
              Real Union               56
7             Albacete                277
              Gimnastic                91
              Logrones                293
              Pontevedra              150
              Salamanca               375
8             Almeria                 242
              Europa                   42
              Rayo Vallecano          662
              Recreativo              188
9             Girona                    0
              Real Burgos              96
10            AD Almeria               52
              Alcoyano                 76
              Compostela              190
              Eibar                   132
11            Murcia                  445
12            Burgos CF               168
              Cadiz                   343
14            Jaen                     71
15            Cultural Leonesa         14
16            Atletico Tetuan          19
              Condal                   22
              Lleida                   40
17            Extremadura              83
              Leganes                  35
              Numancia                148
19            Merida                   81
20            Xerez                    34
Name: Points, Length: 61, dtype: int32